@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'Roboto Condensed', sans-serif;
  cursor: none;
}
body{
  overflow-x: hidden;
}
:root{
  --primary-color:#5918df;
  --font:3rem;
  --fonta:48px;
  --fontab:30px;
  --fontb:25px;
  --fontc:22px;
  --fontd:20px;
  --fonte:18px;
  --fontf:16.5px;
  --fontg:14px;
  --back:#5918df;
  --gap:20%;
}
@media only screen and (max-width:800px){
  :root{
    --font:2.5rem;
    --fonta:46px;
    --fontab:28px;
    --fontb:23px;
    --fontc:20px;
    --fontd:18px;
    --fonte:16px;
    --fontf:14.5px;
    --fontg:12px;
  }
}
@media only screen and (max-width:550px){
  :root{
    --font:1.8rem;
    --fonta:43px;
    --fontab:25px;
    --fontb:20px;
    --fontc:17px;
    --fontd:15px;
    --fonte:13px;
    --fontf:11.5px;
    --fontg:11px;
    --gap:12%;
  }
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  height: 80px;
  line-height: 80px;
  position: fixed;
  width: 100vw;
  transition: 00.4s;
  box-shadow: inset 0 35px 13px rgba(14,12,22,.85);
}
nav:hover{
  height: 80px;
}
.logoHolder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo{
  color: white;
  font-size: var(--font);
  text-transform: uppercase;
  letter-spacing: 4px;
}
.logoSpan{
  color: var(--primary-color);
  font-size: 40px;
}
.linksHolder ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0 15px;
}
.notactive{
  color: hsla(0,0%,100%,.5);
  font-size: var(--fontb);
  font-weight: 700;
  text-decoration: none;

}
.notactive:hover{
  color: rgba(255, 255, 255, 0.741);
}
.notactive span{
  color: #494949;
  font-size: var(--fontb);
}.active{
  color: white;
}
.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 200%;
  position: absolute;
  /* top: 20%; */
  left: calc(var(--gap) - 3%);
  z-index: 2;
}
@media only screen and (max-width:800px){
  .holder{
    height: 300%;
  }
}
@media only screen and (max-width:550px){
  .holder{
    left:calc(var(--gap) - 5%)
  }
}
.timeline{
  width: 1px;
  background-color: var(--primary-color);
  height: calc(100% - 9px);
}
.circle{
  height: 9px;
  width: 9px;
  border-radius: 100px;
  background-color: #1b191e;
  border: 2px solid var(--primary-color);
  z-index: 9;
}


.start{
  height: calc(100vh - 80px);
  width: 100vw;
  background-image: url('../public/assets/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  padding-top: calc(10% + 80px);
  padding-left:var(--gap) ;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.titleholder{
  display: flex;
  flex-direction: column;

}
.title-title{
  color: white;
  font-size: var(--fonta);
  font-weight: 700;
  display: inline;
}
.hack{
  margin: 0;
  padding: 0;
  display: inline;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
@media only screen and (max-width:650px){
  .hack{
    display: block;
  }
}
.uh{
  color: var(--primary-color);
}
.test{
  right: 0;
  position: absolute;
  background-color: var(--primary-color);
  transition: 1s;
}
.test2{
  left: 0;
  position: absolute;
  background-color: white;
  transition: 1s;
}
.test3{
  background-color: white;
  transition: 1s;
  position: absolute;
}
.section-title{
  width: 100px;
  position: relative;
  transition: 1s;
  color: #988e9f;
  font-size: var(--fontd);
  margin: 0;
  padding: 0;
  margin-top: -5px;
  font-weight: 300;
}

.u{
  font-weight: 400;
  font-style: italic;
  font-family: Palatino,Georgia,Times New Roman,Times,serif;
}
.title-title2{
  font-size: var(--fontb);
  color: #988e9f;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.back{
  background-image: linear-gradient(-180deg,#1a1527,#0e0c16 88%,#0e0c16 99%);
}
.work{
  width: 100vw;
  /* background-color: #1a1527; */
  /* height: 100vh; */
  padding-left:var(--gap) ;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.work-holder{
  display: flex;
  flex-direction: column;

}@media only screen and (max-width:700px){
  .work-holder{
    padding-right: 20px;
  }
}
.new1{
  font-size: var(--fontab);
  font-weight: 700;
  z-index: 2;
}
.work:before {
    color: #221d35;
    content: "WEB";
    font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
    font-size: 270px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 110vh;
    box-sizing: border-box;
}
#lab{
  width: 100vw;
  /* background-color: #1a1527; */
  /* height: 50vh; */
  padding-left:var(--gap) ;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.lab-desc{
  font-size: var(--fontc);
  color: #F9F9F9;
  font-weight: 500;
}
.grid-holder{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-row-gap: 30px;
}
@media only screen and (max-width:1200px){
  .grid-holder{
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
@media only screen and (max-width:750px){
  .grid-holder{
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}
.gridbox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gridh{
  margin: 0;
  padding: 0;
  font-size: var(--fontab);
  color: #302a4b;
}
.grid-items{
  margin: 0;
  padding: 0;
  font-size: var(--fontf);
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.grid-items:hover{
  margin-left: 15px;
  color: #5918df;
}
.grid-items-next{
  position: absolute;
  width: 0px;
  right: 0;
  /* display: none; */
  transition: 0.3s;
}
.grid-items:hover > .grid-items-next{
  /* display: block; */
  width: 100px;
}
@media only screen and (max-width:750px){
  .grid-items-next{
    right: 20%;
  }
}
.yellow{color: #EEFF31;}
.purple{color: #5918DF;}
.red{color: #E3244C;}
.grassgreen{color: #24E394;}
.green{color:#24E33A ;}
.orange{color: #E39D24;}
.white{color: #F9F9F9;}
.grey{color: #78707E;}
.dots{color: #3B3553;}

#about{
  background-color: #1a1527;
  width: 100vw;
  height:110vh;
  /* position: relative; */
  padding-left:var(--gap);
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;

}.about-holder{
  display: flex;
  flex-direction: column;
}
.code{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: var(--fonte);
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
  counter-reset: line-number;
}
@media only screen and (max-width:900px){
  #about{
    height: 120vh;
  }
}
@media only screen and (max-width:800px){
  #about{
    height: 140vh;
  }
}

.code > *{
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
  padding-left: calc(var(--gap) );
  padding-top: 3px;
  padding-bottom: 3px;
  transition: 00.25s;
  counter-increment: line-number;
}
.code > *:hover{
  background-color: #212529;
}
.code > * >*{
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
}
.code1::before{
  box-sizing: border-box;
  /* content: "01"; */
  content: counter(line-number, decimal-leading-zero);
  left: calc(var(--gap) - 7%);
  position: absolute;
  color:#3B3553 ;
}
#contact{
  background-color: #0e0c16;
  width: 100vw;
  height: 100vh;
  padding-left:var(--gap) ;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contact-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 25px;
}
.contact-holder-2{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-column-gap: 30px;
}
@media only screen and (max-width:950px){
  .contact-holder-2{
    grid-column-gap: 15px;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
@media only screen and (max-width:630px){
  .contact-holder-2{
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}
.contact-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.contact-logo{
  color: #5918df;
}
.contact-desc{
  color: #5918df;
  text-decoration: none;
  font-size: var(--fontd);
}
@keyframes onHoverAnimation {
  0% {
      background-color: #5918df;
      box-shadow: 0 0 35px #5918df  
  }
  40% {
    background-color:#ff3d77;
    box-shadow: 0 0 35px #ff3d77
  }
  65% {
    background-color: #1593e3;
    box-shadow: 0 0 35px #1593e3
  }
  100% {
      background-color: #ffa63d;
      box-shadow: 0 0 35px #ffa63d
  }
}
.emailme{
  border: none;
  border-radius: 50px;
  color: hsla(0,0%,100%,.9);
  font-size: var(--fontc);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 15px #5918df;
  width: 150px;
  height: 50px;
  background-color: #5918df;
  transition: 00.25s;
/* only animation-duration here is required, rest are optional (also animation-name but it will be set on hover)*/
animation-duration: 6s; /* same as transition duration */
animation-timing-function: linear; /* kind of same as transition timing */
animation-delay: 0ms; /* same as transition delay */
animation-iteration-count: infinite; /* set to 2 to make it run twice, or Infinite to run forever!*/
animation-direction: alternate; /* can be set to "alternate" to run animation, then run it backwards.*/
animation-fill-mode: none; /* can be used to retain keyframe styling after animation, with "forwards" */
animation-play-state: running; /* can be set dynamically to pause mid animation*/
}
@media only screen and (max-width:800px){
  .contact-holder{
    justify-content: flex-start;
  }
  .emailme{
    width: 130px;
    height: 30px;
  }
}
.emailme:hover {
  animation-name: onHoverAnimation;
  transform: scale(1.2);
}
.small{
  height: fit-content;
  color: #988e9f;
  font-size: var(--fontg);
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
  margin-bottom: 15px;
}
.cursor{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
  position: absolute;
  pointer-events: auto;
  z-index: 15;
}
.cursor-border{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 3px white;
  position: absolute;
  pointer-events: auto;
  z-index: 15;
  transition: width 0.5s, height 0.5s;
}
.hovered{
  width: 50px;
  height: 50px;
}

#welcome{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  /* background-color: #0e0c16; */
}
.load-screen{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0e0c16;
  transition: 1s;
}
.load-screen-holder{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.loading{
  text-transform: uppercase;
  font-size: var(--fontb);
  color: var(--primary-color);
  letter-spacing: 2px;
  padding-right: 15px;
}
.rem-screen{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  transition: 1s;
}
.rem-name{
  padding-left: 15px;
  color: #0e0c16;
  text-transform: uppercase;
  font-size: var(--fontb);
  letter-spacing: 2px;
}
.diam{
  background-color: #0e0c16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.diam-name{
  color: var(--primary-color);
  font-size: var(--fonta);
  font-weight: 700!important;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.diam-desc{
  color: white;
  font-size: var(--fontc);
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.anima{
  transition:2s;
  background-color: #221d35;
  position: absolute;
}
@keyframes rotation {
0% {
    transform: rotate(0deg);
    width: 13px;
    height: 13px;
  }
  50%{
    width: 27px;
    height: 27px;
  }
  100% {
    transform: rotate(359deg);
    width: 13px;
    height:13px;
  }
}
.rotate {
  background-color: var(--primary-color);
  animation: rotation 3.5s infinite linear;
}
.timer{
  position: absolute;
  bottom: 25px;
  padding: 5px 10px;
  font-size: var(--fontg);
  color: white;
  border:solid 1px white
}
.webHolder{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}

.card-item{
  margin-left: 35px;
  height: max-content;
  width: max-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	transition: transform .2s;
  /* background-attachment: fixed; */
  height: 230px;
  width: 410px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}
@media only screen and (max-width:550px){
  .card-item{
    height: 130;
    width: 310px;
  }
}
.card-item::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0,1,1);
background: linear-gradient(90deg, rgba(0,1,1,0.79) 25%, rgba(111,108,108,0) 100%);
  position: absolute;
}
.wor-tits,.wor-tits2{
  margin-left: -35px;
  color: white;
  z-index: 6;
}
.line-break{
  margin-left: -35px;
  color: white;
  background-color: white;
  height: 4px;
  width: 75px;
  z-index: 6;
}
.gameHolder{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 150px;
}
.gameHolder:before {
  color: #221d35d9;
  content: "GAME";
  font-family: 'Roboto Mono',Courier New,Courier,monospace!important;
  font-size: 170px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  top: 0;
  margin-top: -200px;
  box-sizing: border-box;
}
.openBtn2:hover{
  color: white;
}
.openBtn{
  display: none;
}
.openBtn2{
  color: #494949;
}
@media only screen and (max-width:750px){
  .openBtn{
    display: block;
  }
  .linksHolder{
    display: none;
  }
}
.reduce{
  text-decoration: none;
  color: inherit;
}
.over{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: fixed;
  background-color: black;
  z-index: 16;
}
.cross{
  position: absolute;
  right: 50px;
  top: 35px;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	background-color: #ffb376;
}

.card{
	perspective: 350px;
	transform-style: preserve-3d;
}

/* .card-item{
	height: 350px;
	width: 350px;
	background-color: #24E33A;
	transition: transform .2s;
}

.card-item > img{
	height: 100%;
	width: 100%;
	max-width: 100%;
} */